<template>

		<!--主体-->
		<div class="container">

			
			<div class="sec guanyu">
				<h1>关于企业展馆</h1>
				<h2>会呼吸的企业生命场所</h2>
				<p>企业展馆是企业展现自身品牌形象的重要场所，是企业实力与发展蓝图的清晰画像。丝路视觉运用其丰富的展览展示经验，精准解读企业实力、文化与竞争优势，为不同行业的企业打造时代感与企业特色并重的可持续发展的展馆，能够满足于企业后期的使用、运营以及升级功能。</p>
			</div>

			<!--案例-->

			<div class="sec anli">
				<div class="anli-title">
					<img src="qiyezg/wuxing.png" class="xing1">
					<h1>案例展示</h1>
					<img src="qiyezg/wuxing.png">
					<div class="cle"></div>
				</div>
				<p>为企业提供全方位定制方案</br>打造与众不同的品牌形象交互空间</p>
				<a href="qiyezg/case/1.html">
					<img src="qiyezg/img1.jpg" class="anli-pic">
					<div class="anli-sum">
						<div class="anli-wenzi">
							<h1>广西物资集团规划展示馆</h1>
							<p>广西物资集团</p>
						</div>
						<img class="anli-arrow" src="qiyezg/arrow.jpg">
						<div class="cle"></div>
					</div>
				</a>
				<a href="qiyezg/case/2.html">
					<img src="qiyezg/img2.jpg" class="anli-pic">
					<div class="anli-sum">
						<div class="anli-wenzi">
							<h1>深圳顺络电子展厅</h1>
							<p>深圳顺络电子股份有限公司</p>
						</div>
						<img class="anli-arrow" src="qiyezg/arrow.jpg">
						<div class="cle"></div>
					</div>
				</a>
				<a href="qiyezg/case/3.html">
					<img src="qiyezg/img3.jpg" class="anli-pic">
					<div class="anli-sum">
						<div class="anli-wenzi">
							<h1>北京启迪控股数字展示中心</h1>
							<p>启迪控股股份有限公司</p>
						</div>
						<img class="anli-arrow" src="qiyezg/arrow.jpg">
						<div class="cle"></div>
					</div>
				</a>
                <a href="qiyezg/case/7.html">
						<img src="qiyezg/img7.jpg" class="anli-pic">
						<div class="anli-sum">
							<div class="anli-wenzi">
								<h1>柳州钢铁集团博物馆</h1>
								<p>广西柳州钢铁集团有限公司</p>
							</div>
							<img class="anli-arrow" src="qiyezg/arrow.jpg">
							<div class="cle"></div>
						</div>
					</a>
				<a href="qiyezg/case/4.html">
					<img src="qiyezg/img4.jpg" class="anli-pic">
					<div class="anli-sum">
						<div class="anli-wenzi">
							<h1>博鳌·银丰 生命体验馆</h1>
							<p>博鳌·银丰康养国际医院</p>
						</div>
						<img class="anli-arrow" src="qiyezg/arrow.jpg">
						<div class="cle"></div>
					</div>
				</a>
				<a href="qiyezg/case/5.html">
					<img src="qiyezg/img5.jpg" class="anli-pic">
					<div class="anli-sum">
						<div class="anli-wenzi">
							<h1>顺丰集团总部品牌展示厅</h1>
							<p>顺丰控股(集团)股份有限公司</p>
						</div>
						<img class="anli-arrow" src="qiyezg/arrow.jpg">
						<div class="cle"></div>
					</div>
				</a>
				<a href="qiyezg/case/6.html">
					<img src="qiyezg/img6.jpg" class="anli-pic">
					<div class="anli-sum">
						<div class="anli-wenzi">
							<h1>南海深水油气开发展厅</h1>
							<p>中国海洋石油总公司 </p>
						</div>
						<img class="anli-arrow" src="qiyezg/arrow.jpg">
						<div class="cle"></div>
					</div>
				</a>
				<div class="anli-yin">
					
					<a href="qiyezg/case/8.html">
						<img src="qiyezg/img8.jpg" class="anli-pic">
						<div class="anli-sum">
							<div class="anli-wenzi">
								<h1>迪安诊断企业展厅</h1>
								<p>浙江迪安诊断技术股份有限公司</p>
							</div>
							<img class="anli-arrow" src="qiyezg/arrow.jpg">
							<div class="cle"></div>
						</div>
					</a>
					
					<div class="btn btn-shouqi">收起更多案例</div>
				</div>
				<div class="btn btn-jiazai">加载更多案例</div>
			</div>

			</template>
			<script>
export default {
  mounted() {
    $(".anli-yin").hide();
    $(".btn-shouqi").hide();
    $(".btn-jiazai").click(function() {
      $(".anli-yin").show();
$(".btn-shouqi").show();
      $(".btn-jiazai").hide();
    });
    $(".btn-shouqi").click(function() {
      $(".anli-yin").hide();
      $(".btn-shouqi").hide();
      $(".btn-jiazai").show();
    });
  }
}

</script>
<!--关于-->
			<style>
				.guanyu {
					padding: 4% 0;
					background: #fff;
					border-radius: 2vw;
					border-bottom: 2vw solid #d90000;
				}
				
				.guanyu h1 {
					margin-left: 6%;
				}
				
				.guanyu h2 {
					margin: 4% 0;
					margin-left: 6%;
				}
				
				.guanyu p {
					text-align: justify;
					padding: 0 6%;
				}
			</style>
